{% extends 'base.html.twig' %}

{% block title %}Hello BezoekerController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h4>Sportcenter HealthOne</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum quam lorem, id consectetur lectus eleifend at. Suspendisse gravida at tortor a lobortis. Sed sapien massa, consectetur in blandit eget, varius id diam. Sed pellentesque finibus sapien non pellentesque. Donec feugiat leo id nunc aliquam sollicitudin. Curabitur est dolor, sagittis non urna vitae, dictum tincidunt est. Ut lobortis sodales risus iaculis facilisis. Aenean sit amet gravida erat. Nullam nec nibh dignissim, feugiat nunc ut, tempus dui. Maecenas sit amet dictum turpis. Curabitur porttitor purus diam, id auctor risus porta ac. Proin fermentum purus in lacus lacinia aliquet maximus a erat. Fusce commodo nisl at imperdiet eleifend. Proin commodo elit nulla, sed feugiat elit congue porta.</p>

            <p>Quisque rutrum non leo quis accumsan. Integer diam neque, efficitur non enim nec, feugiat sollicitudin magna. Nullam sapien leo, pharetra eget aliquet a, convallis et ipsum. Sed cursus dui quis volutpat euismod. Nullam leo dui, malesuada eu risus eu, pellentesque tempus nunc. Nunc vehicula commodo ex in lacinia. Donec accumsan nibh sit amet metus viverra, eget dapibus libero feugiat.</p>
        </div>
    </div>
{% endblock %}
